@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
	background-color: #FFF500;
	font-family: 'Rubik', sans-serif;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.navigasi {
	position: absolute;
	margin: 0px;
	background-color: #FDAD1A;
	height: 50px;
}

.bagian-kiri {
	width: 700px;
	top: 50px;
}

.bagian-kanan {
	width: 280px;
	top: 50px;
}

.visual {
	position: absolute;
	width: inherit;
	height: 160px;
	left: 10px;
	top: 10px;
}

.foto-sampul {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.foto-profil-container {
	padding: 3px;
	background-color: white;
	position: absolute;
	width: 66px;
	height: 66px;
	left: 10px;
	bottom: 10px;
}

.foto-profil {
	position: absolute;
	width: 60px;
	height: 60px;
}

.nama-keterangan {
	position: absolute;
	width: 100%;
	height: 40px;
	left: 80px;
	bottom: 10px;
}

.nama {
	position: absolute;
	width: inherit;
	height: 20px;
	
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
}

.keterangan {
	position: absolute;
	width: inherit;
	height: 14px;
	left: 0px;
	bottom: 0px;

	font-size: 12px;
	line-height: 14px;

	display: flex;
	align-items: center;
}

.tentang {
	background-color: white;
	position: absolute;
	width: 700px;
	height: 90px;
	left: 10px;
	top: 180px;
}

.nama-subbagian {
	position: absolute;
	height: 20px;
	margin: 10px;

	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}

.subbagian {
	background-color: #F4F4F4;
	position: absolute;
	width: 100%;
	height: calc(100% - 40px);
	left: 0px;
	bottom: 0px;
	overflow: hidden;
}

.isi-tentang {
	position: absolute;
	width: 680px;
	height: 45px;
	left: 10px;
	bottom: 10px;

	font-size: 12px;
	line-height: 14px;
}

.pengalaman {
	background-color: white;
	position: absolute;
	width: 700px;
	height: 320px;
	left: 10px;
	top: 280px;
}

.nama-subpengalaman {
	position: absolute;
	width: 100px;
	height: 20px;
	left: calc(50% - 100px/2);
	top: 10px;

	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.subpengalaman {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 190px;
	overflow: auto;
	justify-content: space-between;
}

.info-subpengalaman-container {
	position: relative;
	background-color: white;
	border: 1px solid black;
	width: 315px;
	height: 80px;
	margin: 10px;
	margin-bottom: 0px;
}

.info-subpengalaman-image {
	position: absolute;
	width: 60px;
	height: 60px;
	margin: 10px;
}

.subpengalaman-keterangan-container {
	position: absolute;
	width: calc(inherit - 70px);
	height: 60px;
	left: 70px;
	margin: 10px;
}

.subpengalaman-keterangan-nama {
	position: absolute;
	width: inherit;
	height: 15px;

	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}

.subpengalaman-keterangan-tahun {
	position: absolute;
	width: inherit;
	height: 15px;
	top: 20px;

	font-size: 12px;
	line-height: 14px;
}

.subpengalaman-keterangan-tentang {
	position: relative;
	width: inherit;
	height: 25px;
	top: 35px;

	font-style: italic;
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
}

.other-pengalaman {
	background-color: #D0D0D0;
	position: absolute;
	height: 30px;
	bottom: 10px;
}

.panah {
	position: absolute;
	width: initial;
	height: initial;
	top: 11px;
}

.prev {
	position: relative;
	width: fit-content;
	height: 30px;
	left: 30px;

	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
}

.next {
	position: relative;
	width: fit-content;
	height: 30px;
	right: 30px;

	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
}

.koneksi {
	background-color: white;
	position: absolute;
	width: inherit;
	height: 220px;
	right: 10px;
	top: 10px;
}

.clip-koneksi {
	width: 70px;
	height: 70px;
	margin: 10px;
	object-fit: cover;
	clip-path: circle(35px at center);
}

.kontak {
	background-color: white;
	position: absolute;
	width: inherit;
	height: 130px;
	right: 10px;
	top: 240px;
}

.ikon-kontak {
	width: 70px;
	height: 70px;
	margin: 10px;
	object-fit: cover;
}