{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'img/Bell_TeamIcon.png' %}">
	{% block meta %}
	{% endblock meta %}
</head>

<body>
	{% block content %}
	{% endblock content %}
	<nav class="navbar navbar-default" style="background-color: #F4F4F4;">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="/">Sheradhien's Web</a>
		</div>
		<ul class="nav navbar-nav">
		  <li><a href="/profil">Profil</a></li>
		  <li><a href="/story_1">Story 1</a></li>
		</ul>
	  </div>
	</nav>
</body>

</html>
