{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>Selamat datang!</title>
	<style>
		.halaman-depan {
			width: 100%;
			height: calc(100% - 50px);
			position: absolute;
			top: 50px;
			align-items: center;
			display: flex;
			justify-content: center;
		}
		
		.teks-tengah {
			text-align: center;
			vertical-align: center;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container-fluid halaman-depan">
		<div class="teks-tengah">
			<h2>Welcome to</h2>
			<h1>Sheradhien's Web</h1>
		</div>
	</div>
{% endblock %}