{% extends 'base.html' %}
{% load static %}

{% block meta %}
	<title>Sheradhien's Web</title>

	<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
	<!--<link href="style.css" rel="stylesheet" type="text/css">-->
	<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
{% endblock meta %}

{% block content %}
	<div class="container-fluid" style="position: relative; top: 50px;">
		<div class="bagian-kiri flex-container">
			<div class="visual">
				<img class="foto-sampul" src="{% static 'img/Merbabu.jpg' %}">
				<div class="foto-profil-container">
					<img class="foto-profil" src="{% static 'img/Profil.png' %}">
				</div>
				<div class="nama-keterangan">
					<div class="nama">Dewangga Putra Sheradhien</div>
					<div class="keterangan">Universitas Indonesia</div>
				</div>
			</div>
			<div class="tentang">
				<div class="nama-subbagian">Tentang</div>
				<div class="isi-tentang">Saya adalah seorang mahasiswa di Fakultas Ilmu Komputer, Universitas Indonesia. </div>
			</div>
			<div class="pengalaman">
				<div class="nama-subbagian">Pengalaman</div>
				<div class="subbagian">
					<div class="nama-subpengalaman">Pendidikan</div>
					<div class="flex-container subpengalaman">
						{% for sekolah in pendidikan %}
						<div class="info-subpengalaman-container">
							<img class="info-subpengalaman-image" src="{% static sekolah.gambar %}">
							<div class="subpengalaman-keterangan-container">
								<div class="subpengalaman-keterangan-nama">{{ sekolah.nama }}</div>
								<div class="subpengalaman-keterangan-tahun">{{ sekolah.waktu }}</div>
								<div class="subpengalaman-keterangan-tentang">{{ sekolah.deskripsi }}</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<a href="#">
						<div class="other-pengalaman" style="left: 10px;">
							<img src="{% static 'img/ArrowLeft.png' %}" class="panah" style="left: 5px">
							<div class="prev">Hobi</div>
						</div>
					</a>
					<a href="#">
						<div class="other-pengalaman flex-container" style="right: 10px;">
							<div class="next">Penghargaan</div>
							<img src="{% static 'img/ArrowRight.png' %}" class="panah" style="right: 5px;">
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="bagian-kanan">
			<div class="koneksi">
				<div class="nama-subbagian">Koneksi</div>
				<div class="subbagian flex-container">
					{% for orang in koneksi %}
					<img class="clip-koneksi" src="{% static orang.foto %}" alt="{{ orang.nama }}">
					{% endfor %}
				</div>
			</div>
			<div class="kontak">
				<div class="nama-subbagian">Media Sosial</div>
				<div class="subbagian">
					{% for medsos in kontak %}
					<a href="https://www.{{ medsos.link }}">
						<span>
							<img class="ikon-kontak" src="{% static medsos.gambar %}" alt="{{ medsos.nama }}">
						</span>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}