{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock %}

{% block content %}
<div style="position: absolute; top: 50px;">
	<img src="https://media-exp1.licdn.com/dms/image/C5103AQETDn_rQb5d2Q/profile-displayphoto-shrink_200_200/0?e=1602720000&v=beta&t=pzBBDxeQIK9KvQhrRrkSx-P9BSmMeGOIMKHG7ht5xIg"/>
	<p>Nama : Dewangga Putra Sheradhien</p>
	<p>NPM : 1906293013</p>
	<p>Hobi : Mengerjakan soal pemrograman</p>
	<p>Deskripsi Tentang Saya : manusia</p>
	<p>Tempat Kuliah : Fakultas Ilmu Komputer, Universitas Indonesia</p>
	<p>Riwayat Pendidikan :</p>
	<ul>
		<li>SD : SDN 1 Mojolegi</li>
		<li>SMP : SMPN 1 Banyudono</li>
		<li>SMA	: SMAN 1 Boyolali</li>
	</ul>
	<p>Media Sosial :</p>
	<ul>
		<li>Facebook : Dewangga Putra Sheradhien (Non-aktif)</li>
		<li>Instagram : @sheradhien</li>
	</ul>
</div>
{% endblock %}